* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121215;
  color: #eaeaea;
  font-family: "Roboto", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

body img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  flex-direction: column;
}

.contador {
  font-size: 100px;
  height: 5vh;
  font-family: Roboto, sans-serif;
}

.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: row;
  width: 300px;
}

.buttons button {
  border-radius: 15px;
  padding: 10px;
  font-size: 25px;
  margin-top: 50px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #121215;
  color: white;
}

.texto {
  margin-top: 50px;
}
